<h1>Edit comment</h1>

<%= error_messages_for :comment %>

<% form_for(@comment, :action => url(:entry_comment, @comment)) do %>
  <%= text_control :name, :label => "Name: " %>
  <%= text_control :url, :label => "Name: " %>
  <%= text_control :mail, :label => "Name: " %>
  <%= text_control :text, :label => "Name: " %>
  <p>
    <%= submit_button "Update" %>
  </p>
<% end %>

<%= link_to 'Show', url(:entry_comment, @comment) %> |
<%= link_to 'Back', url(:entry_comments, @comment) %>
