<h3>Edit comment</h3>

<%= error_messages_for :comment %>

<% form_for(@comment, :action => url(:entry_comment, @comment)) do %>
  <%= text_control :name, :label => "*Name: " %>
  <%= text_control :url, :label => "URL: " %>
  <%= text_control :mail, :label => "Mail: " %>
  <%= text_area_control :text, :label => "*Text: " %>
  <p>
    <%= submit_button "Update" %>
  </p>
  <input type="hidden" name="rand" value="<%= rand %>" />
<% end %>
