<div class="comment" id="comment_<%= comment.id %>">
  <i><%= comment.created_at.strftime("%m.%d.%Y %H:%M") %></i>
  <h4><%= comment_title(comment) %></h4>
  <%= comment.html_text %>
  <% admin do %>
    <a 
      id="commment_<%= comment.id %>_edit" 
      href="<%= url(:edit_entry_comment, comment) %>"
    >Edit</a>
    <a href="<%= url(:entry_comment, comment) %>" class="delete">Delete</a>
  <% end %>
</div>
