<%= partial '/entries/entry', :with => @entry %>
<div id="comments">
  <%= partial '/entries/comment', :with => @entry.comments %>
  <br />
  <br />
  <%= error_messages_for :comment %>
  <% form_for(@comment, :action => url(:entry_comments, @comment)) do %>
    <%= text_control :name, :label => 'Name*:' %>
    <%= text_control :url, :label => 'Homepage:' %>
    <%= text_control :mail, :label => 'Mail:' %>
    <div style="clear:both;">
      <%= text_area_control :text, :label => 'Comment*:' %>
      <%= submit_button 'Create Comment' %>
    </div>
  <% end %>
</div>
