<%= partial 'entry', :with => @entry %>
<div id="comments">
  <%= partial 'comment', :with => @entry.public_comments(logged_in?) %>
  <br />
  <br />
  <%= error_messages_for :comment %>
  <%= form_for(@comment, :action => url(:entry_comments, @entry)) do %>
    <%= text_field :name, :label => 'Name*:' %>
    <%= text_field :url, :label => 'Homepage:' %>
    <%= text_field :mail, :label => 'Mail:' %>
    <div style="clear:both; float: left;">
      <%= text_area :text, :label => 'Comment*:' %>
      <%= submit 'Create Comment' %>
    </div>
  <% end =%>
</div>
