<h2>Edit Site</h2>

<%= error_messages_for :site %>

<%= form_for(@site, :action => url(:site, @site)) do %>
  <%= partial 'form' %>
  <div id="preview_div" style="display:none; width=100%; clear: both;"></div>
  <div>
    <%= submit "Update" %> |
    <a href="#" id="preview" 
      onclick="markdown_preview('<%= url(:markdown_preview) %>', 'site_text', 'preview_div', this);"
    >Preview </a>
  </div>
<% end =%>

